# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
.venv/
ENV/
env/
ENV.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
dataset/
dataset_cropped/
*.npy
*.h5
*.pth

# Logs
*.log

# Other
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
